<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <title>m-team 下载助手</title>
    <style>
        .box {
            margin-top: 3%;
            margin-left: 20%;
            margin-right: 20%;
        }
    </style>
</head>

<body>
    <div class="box">
        <h1>m-team 下载助手</h1>

        <br>

        <h3>1. 输入你想进行分类的标签</h3>
        <label class="form-label">输入你的标签:</label>
        <div class="col-6">
            <input type="text" class="form-input" id="types_input">
        </div>
        <ul>
            <li>标签规则：</li>
            <ul>
                <li>在以上文本框输入下载时的使用标签分类，使用 <b>英文逗号：</b><code>,</code> 分割标签。</li>
                <li>标签内不要包含空格， 请使用下划线 <code>_</code> 或英文连字符 <code>-</code> 代替。</li>
                <li>在创建标签时，请针对细化的分类直接创建附带名称的标签，例如:</li>
                <ul>
                    <li>正确的示例：</li>
                    <ul>
                        <li><code>4K_其他,4K_电视,4K_电影</code></li>
                    </ul>
                    <li>错误的示例：</li>
                    <ul>
                        <li><code>4K,4K_电视,4K_电影</code></li>
                        <li>在以上示例中，因为匹配规则的关系，带有 <code>4K</code> 名称的标签（例如 <code>4K_电视,4K_电影</code>）会被直接匹配到
                            <code>4K</code> 的分类，造成子分类匹配失效。</li>
                    </ul>
                </ul>
                <li>标签示例: <code id="example_tags" class="tooltip"
                        data-tooltip="点击即可填入">其他,4K_其他,4K_电视,4K_电影,电影,电视,综合_电影,综合_电子书,动漫,音乐</code></li>
            </ul>
        </ul>

        <br>

        <h3>2. 创建本地的下载文件夹</h3>
        <h4>Windows:</h4>
        <p>在<mark>文件管理器</mark>中打开你需要设置的<b>目标下载目录</b></p>
        <p>按住 <kbd>Shift</kbd>，鼠标右键空白处，选择 "<ins>在此处打开命令窗口</ins>"，然后粘贴以下命令，回车执行。</p>
        <pre class="code" data-lang="Windows"><code id="windows_makedir_codes"> </code></pre>

        <h4>macOS&Linux:</h4>
        <p>怎么开终端，怎么到下载目录你自己来。粘贴下面命令执行就是。</b></p>
        <pre class="code" data-lang="macOS & Linux"><code id="macos_and_linux_makedir_codes"> </code></pre>

        <h3>3. 生成并导入 qBittorrent RSS 规则配置文件</h3>
        <label class="form-label">运行完命令别急着关闭终端(命令窗口)，运行完成之后会输出当前(也就是运行脚本)的路径，粘贴进来。</label>
        <div class="col-6">
            <input type="text" class="form-input" id="directory_path">
        </div>
        <div class="form-group">
            <label class="form-radio form-inline">
                <input type="radio" name="os-type" value="os_win" checked=""><i class="form-icon"></i> Windows
            </label>
            <label class="form-radio form-inline">
                <input type="radio" name="os-type" value="os_mac_linux"><i class="form-icon"></i> macOS & Linux
            </label>
        </div>
        <pre class="code" data-lang="qBittorrent RSS Rule"><code id="qBittorrent_rss_rule_codes"> </code></pre>
        <button class="btn btn-link disabled" id='qBittorrent_rss_rule_bth'>下载配置</button>
        <h4>3.1 设置 qBittorrent 的 RSS</h4>
        <p>点击 <mark>视图</mark> 并勾选 <mark>RSS 阅读器</mark>。 然后在下方的标签内点击 <mark>RSS (0)</mark> 进入 RSS 的管理界面。</p>
        <label class="form-label">选择 <mark>新 RSS 订阅</mark> 将下方的链接粘贴进去。</label>
        <div class="input-group">
            <input type="text" class="form-input" id="rss_xml_url">
            <button class="btn btn-primary input-group-btn" data-clipboard-target="#rss_xml_url">复制</button>
        </div>
        <br>
        <p>然后<b>打开</b> qBittorrent 的 <mark>设置-RSS-勾选[启用 RSS BitTorrent 自动下载]-修改自动下载规则-导入</mark> <b>选择</b>刚刚下载的 json
            文件，点击即可导入。</p>

        <h3>4. 安装并配置 UserScript 脚本</h3>
        <p>
            首先你要确认你有安装 <a href="https://www.tampermonkey.net/" target="_blank"
                rel="noopener noreferrer">Tampermonkey</a> 之类的 UserScript 管理器。
            然后点击 <a
                href="https://github.com/yitong-ovo/m-team-download-helper/raw/master/m-team-download-helper.user.js"
                target="_blank" rel="noopener noreferrer">这里</a> 安装脚本。
            安装脚本后，使用你的 UserScript 管理器打开编辑脚本的界面。
        </p>
        <label class="form-label">将下面的标签粘贴到 <mark>UserScript 脚本</mark> 的 <mark>分类列表</mark> 内。</label>
        <div class="input-group col-6">
            <input type="text" class="form-input" id="types_generate">
            <button class="btn btn-primary input-group-btn" data-clipboard-target="#types_generate">复制</button>
        </div>
        <label class="form-label">将下面的链接填入 <mark>UserScript 脚本</mark> 的 <mark>后端地址</mark> 内。</label>
        <div class="input-group">
            <input type="text" class="form-input" id="backendURL">
            <button class="btn btn-primary input-group-btn" data-clipboard-target="#backendURL">复制</button>
        </div>
        <p>编辑填写你所需要默认选中的分类，保存就可以使用了。</p>
        <a href="https://github.com/yitong-ovo/m-team-download-helper">GitHub</a>
    </div>
</body>
<script>
    // https://stackoverflow.com/questions/35659430/how-do-i-programmatically-trigger-an-input-event-without-jquery
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    // 在按钮上绑定 ClipboardJS
    new ClipboardJS('.btn');

    // 服务端生成的 uuid4，用于服务端区分用户
    uuid4 = "{{ templates_uuid4 }}"
    // 添加任务的后端地址
    backend_URL = document.location.href + uuid4 + '/addDownload';
    // rss 订阅的地址
    rssURL = document.location.href + uuid4 + '/getDownload.xml';

    // 输入分类的文本框
    let types_input = document.querySelector('#types_input');
    // 示例 tag
    let example_tags = document.querySelector('#example_tags');
    // 创建文件夹的代码框
    let windows_makedir_codes = document.querySelector('#windows_makedir_codes');
    let macos_and_linux_makedir_codes = document.querySelector('#macos_and_linux_makedir_codes');
    // 下载路径的文本框
    let directory_path = document.querySelector('#directory_path');
    // 选择下载用机器的操作系统
    let os_type_radios = document.querySelectorAll('input[name=os-type]');
    // qBittorrent 的 rss 规则代码
    let qBittorrent_rss_rule_codes = document.querySelector('#qBittorrent_rss_rule_codes');
    // 下载生成的 rss 规则
    let qBittorrent_rss_rule_bth = document.querySelector('#qBittorrent_rss_rule_bth');
    // rss 订阅的地址
    let rss_xml_url = document.querySelector('#rss_xml_url');
    // UserScript 的分类
    let types_generate = document.querySelector('#types_generate');

    // 输入分类时生成创建文件夹的代码
    types_input.addEventListener('input', update_make_dir_code);
    // 输入下载地址时生成 rss 规则
    directory_path.addEventListener('input', qBittorrent_rss_rule_generate);
    // 点击时下载生成好的 rss 规则
    qBittorrent_rss_rule_bth.addEventListener('click', download_qBittorrent_rss_rule);
    // 点击示例 tag 时填入分类文本框
    example_tags.addEventListener('click', () => {
        types_input.value = example_tags.innerText;
        var input_event = new Event('input', {
            'bubbles': true,
            'cancelable': true
        });
        types_input.dispatchEvent(input_event);
    })

    for (os_type_radio of os_type_radios) {
        // 选择不同的操作系统类别，不同的路径生成规则
        os_type_radio.addEventListener('change', qBittorrent_rss_rule_generate)
    }

    // 生成创建文件夹的代码
    function update_make_dir_code() {
        if (!types_input.value) {
            windows_makedir_codes.innerHTML = macos_and_linux_makedir_codes.innerHTML = ' ';
            return;
        }
        if (types_input.value.match(/^[\u4e00-\u9fa5_,a-zA-Z0-9]+$/g)) {
            types_input.closest("div").classList.remove('has-error');
        } else {
            types_input.closest("div").classList.add('has-error');
            windows_makedir_codes.innerHTML = macos_and_linux_makedir_codes.innerHTML = ' ';
            return;
        }
        windows_makedir_codes.innerHTML = 'powershell -command "mkdir ' + types_input.value.split(',').join(', ') + '"';
        macos_and_linux_makedir_codes.innerHTML = 'mkdir ' + types_input.value.split(',').join(' ') + ';pwd';
    }

    function qBittorrent_rss_rule_generate() {
        input_directory_path = directory_path.value;
        // 若分类文本框或输入路径文本框为空，就清除掉已生成的 rss 规则
        if (!types_input.value || !input_directory_path) {
            qBittorrent_rss_rule_codes.innerHTML = rss_xml_url.value = ' ';

            qBittorrent_rss_rule_bth.classList.add('disabled')
            return;
        }
        directory_path.closest("div").classList.remove('has-error');
        // 若输入的路径第一位为 / ，则判断系统为 MacOS/Linux
        if (input_directory_path.charAt(0) === '/') {
            document.querySelector('input[value=os_mac_linux]').checked = true;
        } else if (input_directory_path.charAt(0).match(/^[a-zA-Z]+$/g)) {
            document.querySelector('input[value=os_win]').checked = true;
        } else {
            directory_path.closest("div").classList.add('has-error');
            // 在输入无效时清除文本
            qBittorrent_rss_rule_codes.innerHTML = rss_xml_url.value = ' ';
            return;
        }
        // rss 规则
        qBittorrent_rss_rule = {}

        if (document.querySelector('input[name=os-type]:checked').value === 'os_win') {
            // qBittorrent 会自动处理 Windows 的路径分隔符，所以这里需要将 '\' 转义为 '/'。
            input_directory_path = input_directory_path.replace(/\\/g, '/');
        } else if (document.querySelector('input[name=os-type]:checked').value === 'os_mac_linux') {

        }
        for (type of types_input.value.split(',')) {
            // 当路径最后一位字符为 '/' 时，不做处理，否则添加 '/'
            if (input_directory_path.charAt(input_directory_path.length - 1) === '/') {
                path = input_directory_path + type;
            } else {
                path = input_directory_path + '/' + type;
            }
            qBittorrent_rss_rule[type] =
            {
                "addPaused": null,
                "affectedFeeds": [
                    rssURL
                ],
                "assignedCategory": "",
                "enabled": true,
                "episodeFilter": "",
                "ignoreDays": 0,
                "lastMatch": "",
                "mustContain": type,
                "mustNotContain": "",
                "previouslyMatchedEpisodes": [
                ],
                "savePath": path,
                "smartFilter": false,
                "useRegex": false
            }
        }
        qBittorrent_rss_rule_codes.innerHTML = JSON.stringify(qBittorrent_rss_rule)
        rss_xml_url.value = rssURL;
        qBittorrent_rss_rule_bth.classList.remove('disabled')
        UserScript_config_generate()
    }
    // 生成 UserScript 中的分类数组
    function UserScript_config_generate() {
        document.querySelector('#backendURL').value = backend_URL;
        types_generate.value = JSON.stringify(types_input.value.split(','));
    }
    // 生成 json 文件，自动下载。
    function download_qBittorrent_rss_rule() {
        qBittorrent_rss_rule_bth.classList.add('loading')
        setTimeout(() => {
            var blob = new Blob([JSON.stringify(qBittorrent_rss_rule)], { type: "application/json" });
            var url = URL.createObjectURL(blob);

            var element = document.createElement('a');
            element.setAttribute('href', url);
            element.setAttribute('download', "qBittorrent_rss_rules.json");
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
            qBittorrent_rss_rule_bth.classList.remove('loading')
        }, getRandomInt(300, 500));
    }
</script>

</html>